%h1 Evaluation

= form_tag '/forms', :method => :post do
  = hidden_field_tag :form_type, :evaluation

  .form-group
    = label_tag :presentation
    = select_tag :presentation, options_for_select(Presentation.all), :class => 'form-control'

  .form-group
    = label_tag :relevance
    = select_tag :relevance, options_for_select(Array(1..5), 1), :class => 'form-control'
