.col-md-6
  - if flash[:success].present?
    .alert.alert-success= flash[:success]

  - if flash[:alert].present?
    .alert.alert-danger= flash[:alert]

  %h1 Daily Buzz

  = form_tag '/forms', :method => :post do

    .form-group
      = label_tag :body
      = text_area_tag :body, '', :rows => 15, :class => 'form-control'

    .form-group
      = label_tag :comment
      = text_field_tag :comment, '', :class => 'form-control'

    .form-group
      = label_tag :channel
      = select_tag :channel, options_for_select(slack_channels, :daily_buzz), :class => 'form-control'


    .form-buttons
      = submit_tag :Submit, :class => 'btn btn-success'
      as
      %strong= @username
