.col-md-6
  - if flash[:success].present?
    .alert.alert-success= flash[:success]

  - if flash[:alert].present?
    .alert.alert-danger= flash[:alert]

  = form_tag [:new, :form], :method => 'get' do

    .form-group
      = label_tag :form
      = select_tag :form_type, options_for_select(::Form::FORM_TYPES, @form_type), :class => 'form-control js-auto-submit'

  - if @form_type == :daily_buzz
    = render :partial => 'daily_buzz', :locals => {:username => @username}
