- if flash[:success].present?
  .div= flash[:success]

- if flash[:alert].present?
  .div= flash[:alert]

%h1 Daily Buzz

= form_tag '/forms', :method => :post do

  .div= label_tag :body
  .div= text_area_tag :body

  .div= label_tag :comment
  .div= text_field_tag :comment

  .div= submit_tag :save
